h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

/* start main line */
.main_line {
    display: block;
    width: 5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* start title */
.title {
    display: block;
    margin: 5px;
    padding: 5px;
    color: #black;
    text-align: center;
    }
