<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h1 class="title">Welcome to MealPlan App</h1>
        <hr class="main_line">
        <ul>
            <li class="title">Login to your  <a href="/user" th:href="@{/user}">Account</a></li>
        </ul>
    </div>

</div>
</body>
</html>